default:
  batchmode: false
  cachedb: "sqlite"
  googleuser: ""
  paths:
    cachedir: "cache"
    scratchdir: "/tmp/scratch"
  plot: true
  slackchannel: ""

production:
  batchmode: true
  plot: false

ian:
  cachedb: "sqlite"
  cacheformat: "qs"
  cloud:
    #cachedir: ""
    googleuser: 'ianmseddy@gmail.com'
    usecloud: false
  codechecks: true ## TODO: set false after all fixed
  paths:
    scratchdir: !expr if (Sys.info()[["nodename"]] == "W-VIC-A127551") "D:/Ian/scratch" else '/mnt/scratch/ieddy/'
