default:
  cachedb: "sqlite"
  googleuser: ""
  plot: true
  useprerun: true
  slackchannel: ""
  batchmode: false
  cacheformat: "qs"
  usecloud: false
  codechecks: true
  mapresfact: 1
  messagingNumCharsModule: 21
  paths:
    cachedir: "cache"
    scratchdir: "scratch/RIAlandscapes"
  reproduciblealgorithm: 1
  usememoise: false
  userequire: false

production:
  batchmode: true
  plot: false

ian:
  cachedb: "sqlite"
  cacheformat: "qs"
  cloud:
    cachedir: "https://drive.google.com/drive/folders/1zq8HT4MKAV8RZv5ggrsDN-dmJt-KeD3_?usp=sharing"
    googleuser: 'ianmseddy@gmail.com'
    usecloud: false
  codechecks: true ## TODO: set false after all fixed
  studyarea: "WB" #Yukon #BC #RIA #SB #WCB #WB
  gcm: "CanESM5" #CanESM5 CSIRO-Mk3 Access1 INM-CM4 historical CNRM-ESM2-1
  ssp: "370" #585 370 245 ""
  fuelclasses: true
  replicate: 3
  gmcsdriver: "LandR.CS"
  simulateam: false
  amscenario: true
  paths:
    scratchdir: !expr if (Sys.info()[["nodename"]] == "W-VIC-A127551") "D:/Ian/scratch" else if (Sys.info()[["nodename"]] == "ria01") "scratch" else 'scratch'
