default:
  cachedb: "sqlite"
  googleuser: ""
  plot: true
  useprerun: true
  slackchannel: ""
  batchmode: false
  cacheformat: "qs"
  usecloud: false
  codechecks: true
  mapresfact: 1
  messagingNumCharsModule: 21
  paths:
    cachedir: "cache"
    scratchdir: "scratch/RIAlandscapes"
  reproduciblealgorithm: 1
  usememoise: false
  userequire: false

production:
  batchmode: true
  plot: false

ian:
  cachedb: "sqlite"
  cacheformat: "qs"
  cloud:
    cachedir: "https://drive.google.com/drive/folders/1zq8HT4MKAV8RZv5ggrsDN-dmJt-KeD3_?usp=sharing"
    googleuser: 'ianmseddy@gmail.com'
    usecloud: false
  codechecks: true ## TODO: set false after all fixed
  fuelclasses: true
  paths:
    scratchdir: !expr if (Sys.info()[["nodename"]] == "W-VIC-A127551") "D:/Ian/scratch" else if (Sys.info()[["nodename"]] == "ria01") "scratch" else 'scratch'
